= simple_form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.input :name, input_html: { class: 'fit-input' }
  .form-group
    = f.input :date_of_birth, as: :date, start_year: 1970
  .form-group
    = f.label '友達'
    %div
      - User.where.not(id: @user.id).order(:id).each do |user|
        = f.check_box :follow_ids, { multiple: true, }, user.id, false
        = f.label "follow_ids_#{user.id}", user.name

  .actions
    = f.submit '更新', class: 'btn btn-primary'
    = link_to '戻る', users_path, class: 'btn btn-default'
